<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.toushiHistory" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>投資信託購入履歴</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <icon src="www/img/ic_launcher.png" />

    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <access origin="*" />

    <platform name="android">
        <icon src="www/img/ic_launcher.png" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" xmlns:android="http://schemas.android.com/apk/res/android" />
        </edit-config>
    </platform>
</widget>
